* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #544837;
}

button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.container {
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    color: #2F281E;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 24px;
}

.menu__list-link {
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    font-weight: 400;
}

.user-nav {
    margin-left: 52px;
    margin-right: 13px;
}

.user-nav__link+.user-nav__link {
    margin-left: 14px;
}

.user-nav__link {
    color: #173A56;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 11px 23px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    transition: 0.5s;
}

.user-nav__link:hover {
    color: #fff;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    transition: 0.5s;
}

.top {
    margin-bottom: 110px;
}

.top__inner {
    background-image: url(../images/top-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 133px 0 80px;
}

.top__title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    max-width: 518px;
}

.top__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    max-width: 460px;
}

.top__btn {
    display: inline-block;
    padding: 14px 40px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    transition: 0.5s;
    outline: none;
    background-color: #fff;
    margin-right: 30px;
}

.top__btn:hover {
    color: #fff;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    transition: 0.5s;
}

.top__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
    padding-left: 26px;
    position: relative;
}

.top__link::before {
    content: "";
    background-image: url(../images/triangle.svg);
    height: 19px;
    width: 17px;
    position: absolute;
    left: 0;
    top: 2px;
}

.tools__title {
    text-align: center;
    max-width: 535px;
    margin: 0 auto;
    padding-bottom: 46px;
}

.tools {
    background-image: url(../images/tools-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 120px;
}

.tools__inner {
    padding-bottom: 90px;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 34px;
    padding: 8px 13px 0;
}

.tools__item {
    width: 240px;
}


/* .tools__item+.tools__item {
    margin-right: 45px;
} */

.tools__item-img {
    margin-bottom: 30px;
}

.tools__item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}

.tools__btn {
    padding: 14px 33px;
    color: #fff;
    background-color: #FF9900;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: block;
    max-width: 173px;
}

.personal__inner {
    background-image: url(../images/personal-1.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.personal__top-text {
    padding-top: 26px;
}

.personal__title {
    font-size: 36px;
    line-height: 54px;
    padding-bottom: 22px;
}

.personal__text {
    padding-bottom: 25px;
    max-width: 486px;
}

.personal__text:nth-child(3) {
    padding-bottom: 30px;
}

.personal__text:last-child {
    padding-bottom: 17px;
}

.personal__subtitle {
    font-weight: bold;
    color: #2F281E;
    padding-bottom: 12px;
}